## log verbosity level: debug, info, warn, error, or fatal
log_level = "info"

## unique identifier (int) for this worker (will default to a hash of hostname)
# id = 5150

## <addr>:<port> to listen on for TCP clients
tcp_address = "0.0.0.0:2300"

## <addr>:<port> to listen on for HTTP clients
http_address = "0.0.0.0:2301"

## address that will be registered with lookupd (defaults to the OS hostname)
# broadcast_address = ""

## UploadPath
upload_path = "d:\\web\\upload\\"

## WatermarkPath
watermark_path = "watermark.png"

## ReceiveTimeout
receive_timeout = 120